
body{margin:0px;
    margin-top:74px;

}

nav{

    margin-top:-74px;
    background-color: rgb(254,145,126);
    display:flex;
    justify-content: space-between;
    align-items:center;

    position: fixed;
    width: 100%;
}

#logo{
    background-color: black;
}

#navigation{
    background-color: black;
  
}

#navigation li {

    display: inline;
   
    margin-right: 5px ;

    color: #fff ;

    background: rgb(255, 59, 59) ;
}

#navigation li a {

    padding: 4px 20px ;

    background: rgb(0, 0, 0) ;

    color: #fff ;

    font: 1em "Trebuchet MS",Arial,sans-serif ;

    line-height: 1em ;

    text-align: center ;

    text-decoration: none ;}

    #logo{margin: 5px;
    height: 64px;
    width: 64px;
    }

   
/* Column container */
.row {  
  
    display: flex;
    flex-wrap: wrap;
    background-color: #44004d;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color:  rgb(0, 75, 62);
    padding: 20px;
}

/* Main column */
.main {
    flex: 30%;
    background-color: rgb(0, 64, 75);
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

#conteneur
{
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
}

#conteneur > div
{
  height: 80vh;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
    justify-content:space-between;
  }

  .side{
width: 50%;
/* height: 60vh; */

  }

  .main{
    width: 50%;
    /* height: 60vh; */
    background-color: coral;
      }

      
      .titleside{
       
        height: 5vh;
        background-color: rgb(188, 255, 158);
          }

            
      .txtside{
       
        height: 25vh;
        background-color: rgb(158, 176, 255);
          }

          .caseimage{
       
            height: 25vh;
            background-color: rgb(188, 255, 158);
              }




              .main-content-container {
                max-width: 940px;
                margin: 0 auto;
                padding: 30px;
                background: green;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
              }
              
              .container {
                height: 45px;
                margin: 10px 1em;
                padding-left: 10px;
                padding-right: 10px;
              /*   background: lightyellow; */
                flex: 0 1 20%;
              }
              
              .container:nth-child(3n+1) {
                background: lightyellow;
              }
              
              .container:nth-child(3n-1) {
                background: lemonchiffon;
              }
              
              .container:nth-child(3n) {
                background: palegoldenrod;
              }


              .container2 {
                height: 200px;
                margin: 10px 1em;
                padding-left: 10px;
                padding-right: 10px;
              /*   background: lightyellow; */
                flex: 0 1 20%;
              }

              .container2:nth-child(3n+1) {
                background: lightyellow;
              }
              
              .container2:nth-child(3n-1) {
                background: lemonchiffon;
              }
              
              .container2:nth-child(3n) {
                background: palegoldenrod;
              }










